.add-system-subheader {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.870588);
  font-weight: bold;
}
.asd-ma-label {
  color: rgba(0, 0, 0, 0.298039);
  font-size: 16px;
  margin-left: -260px;
}
.asd-right-orient {
  float: right;
  width: 300px;
}
.asd-general {
  height: 100%;
  max-height: 100%;
}
.asd-ma-threshold-label {
  color: rgba(0, 0, 0, 0.298039);
  font-size: 16px;
  margin-left: -260px;
}